body {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

.table {
  margin-top: 20px;
}

.schedule-table {
  margin-top: 20px;
}

.schedule-cell {
  height: 100px;
  text-align: center;
  vertical-align: middle;
  color: white;
  cursor: pointer;
}

.schedule-cell.colored-cell {
  font-weight: bold;
}