/* styles/globals.css */
.schedule-table {
  margin-top: 20px;
}

.schedule-cell {
  height: 100px;
  text-align: center;
  vertical-align: middle;
  color: white; /* Set text color to white for better contrast with colored backgrounds */
  cursor: pointer;
}

.schedule-cell.colored-cell {
  font-weight: bold; /* Make text bold for better readability */
}
